<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock title %} - Keylink</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic&display=swap">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
</head>
<body>
    <div class="sidenav">
        <h1>Keylink</h1>
        <h2>{{ user_name }}</h2>
        <!-- <a href="#">My Keys</a> -->
    </div>
    <section class="content">{% block content %}{% endblock content %}</section>
</body>
</html>
