<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Keylink</title>
        <link rel="stylesheet" href="static/style.css" />
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic&display=swap">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <!-- Milligram CSS minified -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    </head>
    <body>
        <h1>Keylink</h1>
        <a href="/login"><button>Login</button></a>
    </body>
</html>
